.test-class {
    text-align: center;
    border: 1px solid #f1f1f1;
    height: 300px;
    margin: 10px;
}

.test-class .slick-next {
    right: 10px;
}

.test-class .slick-prev {
    left: 10px;  
    z-index: 999;  
}

.test-class .slick-next, .test-class .slick-prev {
    &::before {
        color: #f1f1f1
    }
}

.slider-item {
    width: 100%;
    display: inline-block;
    height: 300px;
    overflow: hidden;
    position: relative;

    h3 {
        position: absolute;
        top: 0;
        left: 10%;
    }

    img {
        margin: auto;
        width: auto;
        height: 300px;
    }
}