.cards-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__card {
        display: flex;
        flex-direction: row;
        width: 300px;
        flex-wrap: wrap;
        border: 1px solid gray;
        margin: 2px;

        &__error {
            border: 2px solid red; 
        }
    }
}